*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    align-items: center;
    height: 3rem;    

    padding-left: 6rem;
    border: 1px solid #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

i{
    color: #065572;
    text-decoration: none;
    transition: 2s;

}

i:hover{
    color: #de1616;
}

#main-container{
    padding: 8rem 10rem;
}

#controls{
    width: 80%;
    display: flex;
    flex-direction: row;
    /* padding: 3rem 6rem; */
    justify-content: space-evenly;
}